a {
	text-decoration: none;
}

body {
	margin: 0;
	
	.homepage {
		background-color: #292929;
		padding-top: 1px;
		font-family: verdana;

		.banner {
			width: 95%;
			margin: 1em auto;
			border: 1px solid #78999D;
			border-radius: 10px;
			background-color: #093142;

			.bannerTop {
				border: 1px solid #355E6F;
				border-radius: 10px 10px 0 0;
				height: 4em;
				margin-bottom: 1px;

				.gearLink {
					color: #fff;
					text-decoration: none;
					position: absolute;
					top: 7%;
					left: 4%;
					font-size: 0.75em;

					.gear {
						height: 28px;
						vertical-align: middle;
					}
				}

				.bannerTitle {
					height: 1.8em;
					float: right;
					position: absolute;
					top: 1.8em;
					right: 10em;
				}

				p {
					display: block;
					float: right;
					position: absolute;
					top: 4em;
					right: 12em;
					color: #fff;
					font-size: 0.75em;
				}

				.bannerLogoLink {
					display: block;
					.bannerLogo {
						height: 120px;
						float: right;
						position: absolute;
						top: 0.5em;
						right: 0.4em;
					}
				}
			}

			.bannerBottom {
				height: 2em;
				width: 100%;
				background-color: #001122;
				border: 1px solid #355E6F;
				border-radius: 0 0 10px 10px;
			}
		}

		.middle {
			width: 95%;
			margin: 1em auto;
			box-sizing: border-box;

			.status {
				box-sizing: border-box;
				display: inline-block;
				width: 35%;
				min-height: 20em;
				/*height: 20em;*/
				border: 1px solid #78999D;
				border-radius: 10px;
				background-color: #093142;
				margin-right: 1.5%;
				vertical-align: top;
				text-align: center;
				color: #fff;

				h2 {
					margin: 7px;
				}

				p {
					font-size: 10px;

					a {
						color: #F5CA02;
					}
				}

				h3 {

					a {
						color: #F5CA02;
					}
				}
			}

			.login {
				box-sizing: border-box;
				display: inline-block;
				width: 62%;
				min-height: 20em;
				border: 1px solid #78999D;
				border-radius: 10px;
				background-color: #093142;

				.chatDetailsBox {
					box-sizing: border-box;
					display: inline-block;
					width: 45%;
					float: left;
					position: relative;
					top: 1em;
					left: 1em;

					.chatImage {
						width: 100%;
					}

					.chatThumbST {
						box-sizing: border-box;
						color: #fff;
						text-align: center;
						font-family: monospace;
						border-top: 1px solid #fff;
						border-bottom: 1px solid #fff;
						margin-top: -3px;

						.chatThumbTitleST {
							background-color: #B3875C;
							margin: 0;
							font-size: 1.2em;
						}

						.chatThumbDetailsST {
							background-color: #A5723F;
							margin: 0;
							font-size: 0.8em;
							padding: 1em 0;
						}
					}

					.chatThumbST:hover {

						.chatThumbTitleST {
							background-color: #BA936C;
						}

						.chatThumbDetailsST {
							background-color: #AE8052;
						}
					}
				}

				ul {
					box-sizing: border-box;
					display: inline-block;
					width: 53%;
					float: right;
					position: relative;
					right: 1em;

					li {
						list-style-type: none;
						box-sizing: border-box;

						.chatThumbST {
							color: #fff;
							text-align: center;
							font-family: monospace;


							.chatThumbTitleST {
								background-color: #B3875C;
								margin: 0;
								font-size: 1.2em;
							}

							.chatThumbDetailsST {
								background-color: #A5723F;
								margin: 0;
								font-size: 0.8em;
								padding: 1em 0;
							}
						}

						.chatThumbST:hover {


							.chatThumbTitleST {
								background-color: #BA936C;
							}

							.chatThumbDetailsST {
								background-color: #AE8052;
							}
						}
					}
				}
			}
		}

		.footer {
			width: 95%;
			font-size: 0.55em;
			color: #fff;
			text-align: center;
			/*height: 4em;*/
			margin: 0 auto;
			border: 1px solid #78999D;
			border-radius: 10px;
			background-color: #093142;
		}
	}

	.register {
		background-color: #292929;
		padding-top: 1px;
		padding-bottom: 1px;
		font-family: verdana;

		.banner {
			width: 95%;
			margin: 1em auto;
			border: 1px solid #78999D;
			border-radius: 10px;
			background-color: #093142;

			.bannerTop {
				border: 1px solid #355E6F;
				border-radius: 10px 10px 0 0;
				height: 4em;
				margin-bottom: 1px;

				.gearLink {
					display: none;
					color: #fff;
					text-decoration: none;
					position: absolute;
					top: 7%;
					left: 4%;
					font-size: 0.75em;

					.gear {
						height: 28px;
						vertical-align: middle;
					}
				}

				.bannerTitle {
					height: 1.8em;
					float: right;
					position: absolute;
					top: 1.8em;
					right: 10em;
				}

				p {
					display: block;
					float: right;
					position: absolute;
					top: 4em;
					right: 12em;
					color: #fff;
					font-size: 0.75em;
				}

				.bannerLogoLink {
					display: block;
					.bannerLogo {
						height: 120px;
						float: right;
						position: absolute;
						top: 0.5em;
						right: 0.4em;
					}
				}
			}

			.bannerBottom {
				height: 2em;
				width: 100%;
				background-color: #001122;
				border: 1px solid #355E6F;
				border-radius: 0 0 10px 10px;
			}
		}

		.registerBox {
			width: 95%;
			margin: 1em auto;
			border: 1px solid #78999D;
			border-radius: 10px;
			background-color: #001122;
			color: #fff;
			padding-bottom: 1px;

			.primeDirectives {


				h1 {
					font-size: 20px;
					margin-left: 0.5em;
				}

				h3 {
					color: #F5CA02;
					font-size: 13px;
					margin-left: 0.75em;
				}

				p {
					font-size: 9px;
					margin-left: 1em;
					margin-right: 1em;

					span {

						a {
							color: #F5CA02;
						}
					}
				}

				ol {
					font-size: 9px;
					margin-left: 1em;
					margin-right: 7em;

					li {

					}
				}

				button {
					font-family: verdana;
					border: 1px solid #fff;
					background-color: #7F9EB0;
					color: #fff;
					font-size: 8px;
					font-weight: bold;
					padding: 1px 6px;
					height: 1.7em;
					margin-left: 1em;
					margin-bottom: 2em;
					cursor: pointer;
				}
			}

			.internalData {
				display: none;

				h1 {
					font-size: 20px;
					margin-left: 0.5em;
				}

				h3 {
					color: #F5CA02;
					font-size: 13px;
					margin-left: 0.75em;
				}

				table {
					margin: 0 auto;
					tbody {


						th {
							background-color: #013243;
							text-align: left;
							font-size: 11px;
						}

						tr {

							.cellName {
								background-color: #1C537A;
								padding: 3px;
								min-width: 330px;
								width: 330px;

								h5 {
									font-size: 10px;

									span {
										color: #AB5577;
									}
								}

								p {
									font-size: 10px;
								}
							}

							.cellValue {
								vertical-align: bottom;
								background-color: #013243;
								min-width: 72px;
								width: 72px;
								font-size: 10px;

								input {
									background-color: #1C537A;
									color: #fff;
								}

								select {
									background-color: #1C537A;
									color: #fff;
								}
							}
						}

						#usernameError {
							display: none;
							font-size: 10px;
							color: red;
							text-align: right;
							width: 100%;
						}

						#passwordError {
							display: none;
							font-size: 10px;
							color: red;
							text-align: right;
							width: 100%;
						}

						#screenNameError {
							display: none;
							font-size: 10px;
							color: red;
							text-align: right;
							width: 100%;
						}

						#emailError {
							display: none;
							font-size: 10px;
							color: red;
							text-align: right;
							width: 100%;
						}
					}
				}

				.arrowBox {
					margin-left: 1em;
					button {
						font-family: verdana;
						border: 1px solid #fff;
						background-color: #7F9EB0;
						color: #fff;
						font-size: 8px;
						font-weight: bold;
						padding: 1px 6px;
						height: 1.7em;
						/*margin-left: 0.5em;*/
						margin-bottom: 2em;
						cursor: pointer;
					}
				}
			}
		}
	}
	
	.loginStarTrek {
		background-color: #000;
		padding-bottom: 1em;

		article {
			display: none;
			position: absolute;
			background-color: black;
			left: 35%;
			top: 20em;
			width: 300px;
			border: 2px solid white;
			border-radius: 15px;
			color: red;
			text-align: center;
			margin: 0 auto;
			opacity: 1;
			z-index: 99;

			button {
				background-color: #F4B424;
				color: #000;
				font-weight: bold;
				border: none;
				border-radius: 15px;
				padding: 0.05em 2em;
				margin-bottom: 1em;
			}
		}

		div {
		 	.loginHeaderImage {
		 		display: block;
		 		width: 580px;
		 		margin: 0 auto;
		 	}
		}

		div {

		 	table {
		 		margin: 1em auto;
		 		border: 15px solid transparent;
		 		-moz-border-image-top:url("../images/header.gif") 30 30 repeat; /* Old Firefox */
				-webkit-border-image-top:url("../images/header.gif") 30 30 repeat; /* Safari */
				-o-border-image-top:url("../images/header.gif") 30 30 repeat; /* Opera */
				border-image-top:url("../images/header.gif") 30 30 repeat;

		 		tbody {

		 			.tableButtonRow {

		 				td {
		 					padding-top: 1em;

		 					button {
		 						padding: 0;

		 						img {
		 							width: 140px;
		 							margin-left: -3.5em;
		 							margin-right: -1em;
		 							cursor: pointer;
		 						}

		 						.loginButtonRegister {
		 							margin-left: 0;
		 							margin-right: 0;
		 							cursor: pointer;
		 						}
		 					}
		 				}

		 				.loginTableBorder {
		 					padding-top: 0;
		 					img {
		 						height: 50px;
		 						width: 6px;
		 						position: relative;
		 						left: -12px;
		 					}
		 				}
		 			}

		 			tr {

		 				.loginTableHeader {

		 					img {
		 						height: 61px;
		 						width: 570px;
		 					}
		 				}

		 				td {
		 					color: #fff;
		 					font-weight: bold;
		 					img {
		 						height: 24px;
		 						vertical-align: middle;
		 						margin: -6px -1px -3px -3px;
		 					}
		 				}

		 				.loginBoxTitle {
		 					/*height: 1em;*/
		 					font-size: 14px;
		 					line-height: 15px;
		 					background-color: #9999CC;
		 					color: #fff;
		 					width: 150px;
		 					padding-left: 3px;
		 					font-weight: bold;
		 					/*border: 1px solid #000;*/
		 				}

		 				.loginBoxInput {
		 					background-color: #7E7E7E;
		 					padding: 3px 0 3px 5px;
		 					width: 242px;

		 					input {
		 						height: 11px;
		 						font-size: 11px;
		 					}

		 					#avvyPic {
		 						/*background-color: blue;*/
		 						height: 55px;
		 						width: 50px;
		 						background-size: cover;
		 						background-image: url('../images/st_avatars/picard1.jpg');
		 					}
		 				}

		 				.loginBoxSpace {
		 					width: 200px;
		 				}

		 				.loginBoxRight {
		 					
		 					img {
		 						padding-left: 3px;
		 					}
		 				}

		 				.loginTableFooter {

		 					img {
		 						width: 570px;
		 					}
		 				}

		 				.loginTableBorder {
		 					margin-top: 0;
		 					padding-top: 0;
		 					img {
		 						height: 30px;
		 						width: 6px;
		 						position: relative;
		 						left: -6px;
		 					}
		 				}

		 				td {

		 					.loginBoxRight {
		 						width: 100px;
		 					}

		 					.avatarPreview1 {
		 						padding-top: 1px;
		 						height: 57px;
		 						width: 30px;
		 					}

		 					.avatarPreview2 {
		 						padding-top: 1px;
		 						height: 57px;
		 						width: 92px;
		 					}

		 					.avatarPreview3 {
		 						height: 59px;
		 					}
		 				}
		 			}
		 		}
		 	}
		}

		hr {
			width: 580px;
			margin: 0 auto;
		}

		.footer {
			width: 580px;
			font-size: 0.75em;
			color: #fff;
			text-align: center;
			margin: 0 auto;
		}
	}

	.chatStarTrek {
		background: #000000;
		color: #ffffff;

		#top {
			background: #000;
			overflow: hidden;
			text-align: left;


			.chatBox {
				box-sizing: border-box;
				width: 32em;
				margin: 0 auto;

				.topChat {
					height: 2em;
					width: 31em;
				}

				#messageBox {
					width: 53%;
					height: 4em;
					display: inline-block;
					margin-left: 6.5em;
					position: relative;
					top: -1em;

					label {
						text-align: left;
						width: 3em;
					}

					#text {
						width: 95%;
						height: 6.75em;
					    font-size: 0.75em;
						background-color: #000;
						border: 1px solid grey;
						color: #fff;
					}

					#text:focus {
					    color: #fff;
					    font-size: 0.75em;
					    height: 6.75em;
					}

					.addOn {
						float: right;
						margin-right: 0.5em;

						#to {
							background-color: #000;
							border: 1px solid grey;
							width: 7em;
							color: #fff;
							height: 1em;
						}

						#to:focus {
						    color: #fff;
						    font-size: 0.75em;
						    width: 7.75em;
						}
					}
				}

				

				#rightChat {
					display: inline-block;
					width: 25%;
					vertical-align: top;

					#send {
						display: block;
						height: 23px;
						width: 105px;
						background-image: url('../images/transmit.gif');
						background-size: auto auto;
						border: none;
						cursor: pointer;
						margin: 3px 0;
					}

					#receive {
						display: block;
						height: 23px;
						width: 105px;
						background-image: url('../images/receive.gif');
						background-size: auto auto;
						border: none;
						cursor: pointer;
						margin: 3px 0;
					}

					#clear {
						display: block;
						height: 23px;
						width: 105px;
						background-image: url('../images/clear.gif');
						background-size: auto auto;
						border: none;
						cursor: pointer;
						margin: 3px 0;
					}

					#exit {
						display: block;
						height: 23px;
						width: 105px;
						background-image: url('../images/exit.gif');
						background-size: auto auto;
						border: none;
						cursor: pointer;
						margin: 3px 0;
					}
				}

				.bottomChat {
					height: 2em;
					width: 31em;
				}
			}
		}

		#bottom {
			overflow: scroll;
			font-size: 20px;
			height: 17em;

			.messageBox {
				margin: 0.5em 0;
				/*border: 1px solid white;*/

				.avatar {
					height: 50px;
					width: 45px;
					float: left;
				}

				.messageDetails {
					padding-top: 0.75em;

					.time {
						display: inline-block;
						font-size: 0.75em;
						/*border: 1px solid white;*/
					}

					.handle {
						display: inline-block;
						color: lightblue;
						padding-right: 0.25em;
						/*border: 1px solid white;*/
					}

					.tagline {
						margin-left: 5em;
						color: #F5CA02;
						font-size: 11px;
						/*border: 1px solid white;*/
					}
				}

				.message {
					display: block;
					font-size: 0.75em;
					margin: -3px 0 0 0;
					/*border: 1px solid white;*/
					clear: both;

					#toMessage {
						font-weight: bold;
					}
				}
			}
		}
	}
}